body{
margin: 0px;
padding: 0px;

}

#calculator{
    width: 380px;
    height: 380px;
    padding: 10px;
    display: flexbox;
    margin: 10px;
    border: solid black;
    
    
}



.button{
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    background-color: ;
    font-size: 35px;
    font-weight: 700px;
    margin: 4px 2px;
    border-radius: 50px;

}


#display{
    width: 300px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: solid black;

}


.row-one button{
    background-color: #D1DDB5;
}
.row-two button{
    background-color: #BED6AA;
}
.row-three button{
    background: #82A682;
}
.row-four button{
    background: #688D7B;
}

